In [ ]:
#Malay Rajpoot malay.rajpoot2020@vitstudent.ac.in
import numpy as np
import pandas as pd

In [ ]:
#Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

s1=pd.Series(np.random.rand(4))
s2=pd.Series(np.random.rand(4))
s3=pd.Series(np.random.rand(4))
s4=pd.Series(np.random.rand(4))
df=pd.DataFrame([s1,s2,s3,s4])
df=df.T

print(df)

          0         1         2         3
0  0.567303  0.995368  0.344593  0.100559
1  0.635836  0.044191  0.170607  0.641046
2  0.463553  0.229586  0.927957  0.615395
3  0.822516  0.775798  0.203227  0.547340

In [ ]:
#Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

df.columns=['Random value 1','Random value 2','Random value 3','Random value 4',]
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.567303        0.995368        0.344593        0.100559
1        0.635836        0.044191        0.170607        0.641046
2        0.463553        0.229586        0.927957        0.615395
3        0.822516        0.775798        0.203227        0.547340

In [ ]:
#Task - 3 Find the descriptive statistics of the 'df' dataframe.

print(df.describe(include='all'))

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.622302        0.511236        0.411596        0.476085
std          0.151102        0.447897        0.352426        0.253454
min          0.463553        0.044191        0.170607        0.100559
25%          0.541365        0.183237        0.195072        0.435645
50%          0.601570        0.502692        0.273910        0.581368
75%          0.682506        0.830691        0.490434        0.621808
max          0.822516        0.995368        0.927957        0.641046

In [ ]:
#Task - 4 Check for the null values in 'df' and find the data type of the columns.

print(df.isnull())
print('\n', df.isnull().sum())
print('\n', df.isnull().all())

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

 Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

 Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [ ]:
#Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

print(df.loc[:,'Random value 2':'Random value 3'])
print('\n')
print(df.iloc[:,1:3])

   Random value 2  Random value 3
0        0.995368        0.344593
1        0.044191        0.170607
2        0.229586        0.927957
3        0.775798        0.203227


   Random value 2  Random value 3
0        0.995368        0.344593
1        0.044191        0.170607
2        0.229586        0.927957
3        0.775798        0.203227